<div class="app-main__inner">
    <div class="user-header">
        <h3>Accepted Orders  <select name="cars" id="cars">
<option value="volvo">All Status</option>
<option value="saab">Saab</option>
<option value="opel">Opel</option>
<option value="audi">Audi</option>
</select></h3> 

    </div>

    <div class="user-list-table">
        <table class="table">
          <thead class="" style="background-color: #8eb73b;">
            <tr>
              <th scope="col">Order ID</th>
              <th scope="col">Date</th>
              <th scope="col">Coustomer Name</th>
              <th scope="col">Location</th>
               <th scope="col">Amount</th>
             
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>#1234</td>
              <td>26 March 2020, 12:12 AM</td>
              <td>Olvia sine</td>
              <td>35 road station 1</td>
              <td>AED,23</td>
            

              <td style="color: #23b412;">
                 Accepted
                </td>   
            </tr>
          <tr>
              <td>#1234</td>
              <td>26 March 2020, 12:12 AM</td>
              <td>Olvia sine</td>
              <td>35 road station 1</td>
              <td>AED,23</td>
            
             <td style="color: #23b412;">
                 Accepted
                </td>   
            </tr>
       <tr>
              <td>#1234</td>
              <td>26 March 2020, 12:12 AM</td>
              <td>Olvia sine</td>
              <td>35 road station 1</td>
              <td>AED,23</td>
             
   
            <td style="color: #23b412;">
                 Accepted
                </td>   
            </tr>
            <tr>
              <td>#1234</td>
              <td>26 March 2020, 12:12 AM</td>
              <td>Olvia sine</td>
              <td>35 road station 1</td>
              <td>AED,23</td>
             
     <td style="color: #23b412;">
                 Accepted
                </td>   
            </tr>
          <tr>
              <td>#1234</td>
              <td>26 March 2020, 12:12 AM</td>
              <td>Olvia sine</td>
              <td>35 road station 1</td>
              <td>AED,23</td>
             
   
              <td style="color: #23b412;">
                 Accepted
                </td>   
            </tr>
         <tr>
              <td>#1234</td>
              <td>26 March 2020, 12:12 AM</td>
              <td>Olvia sine</td>
              <td>35 road station 1</td>
              <td>AED,23</td>
             
     <td style="color: #23b412;">
                 Accepted
                </td>   
            </tr>
           <tr>
              <td>#1234</td>
              <td>26 March 2020, 12:12 AM</td>
              <td>Olvia sine</td>
              <td>35 road station 1</td>
              <td>AED,23</td>
             
     <td style="color: #23b412;">
                 Accepted
                </td>   
            </tr>
           <tr>
              <td>#1234</td>
              <td>26 March 2020, 12:12 AM</td>
              <td>Olvia sine</td>
              <td>35 road station 1</td>
              <td>AED,23</td>
           
     <td style="color: #23b412;">
                 Accepted
                </td>   
            </tr>
         <tr>
              <td>#1234</td>
              <td>26 March 2020, 12:12 AM</td>
              <td>Olvia sine</td>
              <td>35 road station 1</td>
              <td>AED,23</td>
             
   
              <td style="color: #23b412;">
                 Accepted
                </td>   
            </tr>
         <tr>
              <td>#1234</td>
              <td>26 March 2020, 12:12 AM</td>
              <td>Olvia sine</td>
              <td>35 road station 1</td>
              <td>AED,23</td>
            
   
              <td style="color: #23b412;">
                 Accepted
                </td>   

            </tr>
          </tbody>
        </table>
    </div><!--user-list-table-->

    <div class="table-pagination">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
    </div>

</div>
