
                    <div class="app-main__inner">





                        <div class="tab-content">
                     
                                 <div class="user-header">
                                    <h3>Add New Customers </h3> 
        
                                </div>
        
                                 <section class="address-info-form">
                                      <form>
                                        
                                          <div class="form-row">
                                            <div class="form-group col-md-6">
                                              <label for="inputEmail4">First Name</label>
                                              <input type="text" class="form-control" id="" placeholder="">
                                            </div>
                                            <div class="form-group col-md-6">
                                              <label for="inputPassword4">Last Name</label>
                                              <input type="text" class="form-control" id="" placeholder="">
                                            </div>
                                          </div>
        
                                          <div class="form-row">
                                            <div class="form-group col-md-6">
                                              <label for="inputEmail4">Joining Date</label>
                                              <input type="text" class="form-control" id="" placeholder="">
                                            </div>
                                            <div class="form-group col-md-6">
                                              <label for="inputPassword4">Joining Time</label>
                                              <input type="text" class="form-control" id="" placeholder="">
                                            </div>
                                          </div>
                                           <div class="form-row">
                                            <div class="form-group col-md-12">
                                              <label for="inputEmail4">Location</label>
                                              <input type="text" class="form-control" id="" placeholder="">
                                            </div>
                                          
                                          </div>
        
                                          <div class="form-row">
                                            <div class="form-group col-md-12">
                                            <div class="form-group">
                                                <label for="exampleFormControlTextarea1">Bio</label>
                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                              </div>
                                          </div>
                                        </div>
                                      
        
                                        
                                          <div class="info-per-btn">
                                            <a href="" class="save-btn">Save</a>
                                            <a href="" class="cancel-btn">Cancel</a>
                                          </div>
                                        </form>
                                </section>
                        </div>
        
                            </div>