
<div class="app-main__inner">
    <div class="tab-content">
    
                <div class="user-header">
                <h3>Add New Campaign </h3> 

            </div>

                <section class="address-info-form">
                    <form>
                    
                        <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputEmail4">Campaign Name</label>
                            <input type="text" class="form-control" id="" placeholder="">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="inputPassword4">Title</label>
                            <input type="text" class="form-control" id="" placeholder="">
                        </div>
                        </div>

                        <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputEmail4">URL</label>
                            <input type="text" class="form-control" id="" placeholder="">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="inputPassword4">Description</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
                        </div>
                        </div>
                        <div class="form-row images-admin">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">Add Campaign Icon</label>
                            <input type="file" class="form-control" id="" placeholder="">
                        </div>
                        
                        <div class="form-group col-md-4">
                            <label for="exampleFormControlTextarea1">Add Campaign Picture</label>
                            <input type="file" class="form-control" id="" placeholder="">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="exampleFormControlTextarea1">Add Campaign Badge</label>
                            <input type="file" class="form-control" id="" placeholder="">
                        </div>
                    </div>
                    

                    
                        <div class="info-per-btn">
                        <a href="" class="save-btn">Save</a>
                        <a href="" class="cancel-btn">Cancel</a>
                        </div>
                    </form>
            </section>
    </div>
 </div>