<div class="app-main__inner">





    <div class="tab-content">
 
             <div class="user-header">
                <h3>Add New Warehouse</h3> 

            </div>

             <section class="address-info-form">
                  <form>
                    
                   
                        <div class="form-group">
                          <label for="inputEmail4">Select Country Name</label>
                        <select id="" class="form-control">
                            <option selected="">Chosse City</option>
                            <option>...</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="inputEmail4">Enter Warehouse Name</label>
                          <input type="text" class="form-control" id="inputAddress" placeholder="Enter Warehouse Name">
                        </div>

                         <div class="form-group">
                          <label for="inputEmail4">Enter Cities Name</label>
                          <input type="text" class="form-control" id="inputAddress" placeholder="Enter Cities Name">
                        </div>
                      
                      
                     
                        
                     
                      <div class="info-per-btn">
                        <a href="" class="save-btn" style="background-color: #f5ab26;">Add New Warehouse</a>
                        <a href="" class="save-btn">Save</a>
                        <a href="" class="cancel-btn">Cancel</a>
                      </div>
                    </form>
            </section>
    </div>

        </div>