<div class="app-main__inner">
    <div class="user-header customers-header">
         <h3>Reviews 
          <form action="/action_page.php">
           <label for="fname">From:</label>
           <input type="text" id="fname" name="fname">
           <label for="lname">To:</label>
           <input type="text" id="lname" name="lname">
         </form>
         </h3> 
     </div>

     <section class="address-info-form">
         <div class="reviews-main">
             <div class="row">
                 <div class="col-md-1">
                     <div class="review-user-img">
                         <img src="assets/images/user.jpg">
                     </div>
                 </div>
                 <div class="col-md-11">
                     <div class="review-user-text">
                         <div class="row">
                             <div class="col-md-4">
                                 <div class="review-user-right-1">
                                     <h3>Glee Smilly</h3>
                                     <h5>Head Marketing</h5>
                                 </div>
                             </div>

                              <div class="col-md-4">
                                 <div class="review-user-right-2">
                                     <h3>4.8</h3>
                                     <span><i class="fa fa-star" aria-hidden="true"></i> 
                                      <i class="fa fa-star" aria-hidden="true"></i>
                                       <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                         <i class="fa fa-star text-dark" aria-hidden="true"></i></span>
                                 </div>
                             </div>

                                <div class="col-md-4">
                                  <div class="review-user-right-3">
                                     <h3>August 22, 2022</h3>
                                     <h5>Published</h5>
                                  </div>

                                </div>

                         </div>
                         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing </p>
                     </div>
                 </div>
             </div>
         </div>

            <div class="reviews-main">
             <div class="row">
                 <div class="col-md-1">
                     <div class="review-user-img">
                         <img src="assets/images/user.jpg">
                     </div>
                 </div>
                 <div class="col-md-11">
                     <div class="review-user-text">
                         <div class="row">
                             <div class="col-md-4">
                                 <div class="review-user-right-1">
                                     <h3>Glee Smilly</h3>
                                     <h5>Head Marketing</h5>
                                 </div>
                             </div>

                              <div class="col-md-4">
                                 <div class="review-user-right-2">
                                     <h3>4.8</h3>
                                     <span><i class="fa fa-star" aria-hidden="true"></i> 
                                      <i class="fa fa-star" aria-hidden="true"></i>
                                       <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                         <i class="fa fa-star text-dark" aria-hidden="true"></i></span>
                                 </div>
                             </div>

                                <div class="col-md-4">
                                  <div class="review-user-right-3">
                                     <h3>August 22, 2022</h3>
                                     <h5>Published</h5>
                                  </div>

                                </div>

                         </div>
                         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing </p>
                     </div>
                 </div>
             </div>
         </div>
            <div class="reviews-main">
             <div class="row">
                 <div class="col-md-1">
                     <div class="review-user-img">
                         <img src="assets/images/user.jpg">
                     </div>
                 </div>
                 <div class="col-md-11">
                     <div class="review-user-text">
                         <div class="row">
                             <div class="col-md-4">
                                 <div class="review-user-right-1">
                                     <h3>Glee Smilly</h3>
                                     <h5>Head Marketing</h5>
                                 </div>
                             </div>

                              <div class="col-md-4">
                                 <div class="review-user-right-2">
                                     <h3>4.8</h3>
                                     <span><i class="fa fa-star" aria-hidden="true"></i> 
                                      <i class="fa fa-star" aria-hidden="true"></i>
                                       <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                         <i class="fa fa-star text-dark" aria-hidden="true"></i></span>
                                 </div>
                             </div>

                                <div class="col-md-4">
                                  <div class="review-user-right-3">
                                      <h3>August 22, 2022</h3>
                                     <h5>Published</h5>
                                  </div>

                                </div>

                         </div>
                         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing </p>
                     </div>
                 </div>
             </div>
         </div>
            <div class="reviews-main">
             <div class="row">
                 <div class="col-md-1">
                     <div class="review-user-img">
                         <img src="assets/images/user.jpg">
                     </div>
                 </div>
                 <div class="col-md-11">
                     <div class="review-user-text">
                         <div class="row">
                             <div class="col-md-4">
                                 <div class="review-user-right-1">
                                     <h3>Glee Smilly</h3>
                                     <h5>Head Marketing</h5>
                                 </div>
                             </div>

                              <div class="col-md-4">
                                 <div class="review-user-right-2">
                                     <h3>4.8</h3>
                                     <span><i class="fa fa-star" aria-hidden="true"></i> 
                                      <i class="fa fa-star" aria-hidden="true"></i>
                                       <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                         <i class="fa fa-star text-dark" aria-hidden="true"></i></span>
                                 </div>
                             </div>

                                <div class="col-md-4">
                                  <div class="review-user-right-3">
                                      <h3>August 22, 2022</h3>
                                     <h5>Published</h5>
                                  </div>

                                </div>

                         </div>
                         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing </p>
                     </div>
                 </div>
             </div>
         </div>
            <div class="reviews-main">
             <div class="row">
                 <div class="col-md-1">
                     <div class="review-user-img">
                         <img src="assets/images/user.jpg">
                     </div>
                 </div>
                 <div class="col-md-11">
                     <div class="review-user-text">
                         <div class="row">
                             <div class="col-md-4">
                                 <div class="review-user-right-1">
                                     <h3>Glee Smilly</h3>
                                     <h5>Head Marketing</h5>
                                 </div>
                             </div>

                              <div class="col-md-4">
                                 <div class="review-user-right-2">
                                     <h3>4.8</h3>
                                     <span><i class="fa fa-star" aria-hidden="true"></i> 
                                      <i class="fa fa-star" aria-hidden="true"></i>
                                       <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                         <i class="fa fa-star text-dark" aria-hidden="true"></i></span>
                                 </div>
                             </div>

                                <div class="col-md-4">
                                  <div class="review-user-right-3">
                                      <h3>August 22, 2022</h3>
                                     <h5>Published</h5>
                                  </div>

                                </div>

                         </div>
                         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing </p>
                     </div>
                 </div>
             </div>
         </div>
         <div class="table-pagination">
         <nav aria-label="Page navigation example">
           <ul class="pagination justify-content-end">
             <li class="page-item disabled">
               <a class="page-link" href="#" tabindex="-1">Previous</a>
             </li>
             <li class="page-item"><a class="page-link" href="#">1</a></li>
             <li class="page-item"><a class="page-link" href="#">2</a></li>
             <li class="page-item"><a class="page-link" href="#">3</a></li>
             <li class="page-item">
               <a class="page-link" href="#">Next</a>
             </li>
           </ul>
         </nav>
     </div>
         
     </section>
   

     

 </div>