<section class="login-screens">
    <div class="login-inner">
      <div class="login-logo text-center">
        <img src="assets/images/logo.png">
        <h5>Forgot Password</h5>
      </div>
      <form>
       
     
          <div class="form-group mb-0">
          <label for="exampleInputPassword1">Phone Number</label>
          <input type="number" class="form-control" id="exampleInputPassword1" placeholder=" +91 75467">
        </div>
       <div class="login-btns">
         <a href="otp.html" class="green-btn">Send OTP</a>
       </div>
      </form>

    </div>
  </section>